/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  /*Фоновое изображение*/
  --page-background-image: url(../images/cover-image-dark.png);

  /*Цвета*/
  --page-background-color: #000028;
  --decor-color: #000028;
  --accent-color: #ff0070;
  --h1-color: #db00ff;
  --text-color: #f1b2ce;
}
