/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

html {
  block-size: 100%;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  /*block-size: 100%; - это свойство мешало занять header высоту экрана.*/
  display: flex; /*Создаём отступы между блоками страницы.*/
  flex-direction: column;
  gap: var(--page-gap, clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem));
  font-family: var(--main_font, "IBM Plex Mono"), sans-serif;
  background-color: var(
    --page-background-color,
    #000028
  ); /*Задаём фоновый цвет согласно макету под фоновое изображение страницы.*/
  background-image: var(
    --page-background-image,
    url(../images/cover-image-dark.png)
  ); /*Задаём фоновое изображение страницы.*/
  background-position: center; /*Располагаем фоновое изображение по центру.*/
  background-size: cover; /*Закрываем фоном полностью страницу.*/
  background-attachment: fixed; /*Фиксируем фон на месте при прокрутке страницы.*/
  padding-inline: var(
    --page-padding-inline,
    clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)
  );
}

/*Общие классы для разных блоков страницы*/

.title-general-styles {
  /*Задаём класс для общих стилей заголовка футтера и хэддера.*/
  font-family: inherit;
  font-weight: var(--bold-font-weight, 700);
  font-size: var(--h1-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: var(--h1-line-height, 83%);
  color: var(--h1-color, #db00ff);
}

.title-decor {
  /*Задаём декоративный приём для всех схожих элементов сайта.*/
  background-color: var(--accent-color, #ff0070);
  color: var(--decor-color, #000028);
  font-family: inherit;
  font-weight: var(--bold-font-weight, 700);
  font-size: var(--text-size, 1.125rem);
  line-height: var(--text-line-height, 130%);
}

.decorated-zone {
  /*Задаём декоративный приём "уголки" для шапки и подвала сайта псевдоэлементом.*/
  position: relative;
  z-index: 0;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: clamp(
    0.625rem,
    0.0286rem + 2.5445vw,
    1.25rem
  ); /*Подгоняем с помощью PerfectPixel к макету 10px до 20 px
  под ширину экрана от 375px до 768px.*/
  right: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: var(--accent-color, #ff0070);
  z-index: 1;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: clamp(
    0.625rem,
    0.0286rem + 2.5445vw,
    1.25rem
  ); /*Подгоняем с помощью PerfectPixel к макету 10px до 20 px
  под ширину экрана от 375px до 768px.*/
  left: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-style: solid;
  border-width: 0 0 1px 1px;
  border-color: var(--accent-color, #ff0070);
  z-index: 1;
}

/*Шапка  сайта*/

.header {
  block-size: 100vh; /*Задаём высоту шапки равной высоте окна браузера согласно инструкции.*/
  min-block-size: var(
    --header-footer__min-block-size,
    41.75rem
  ); /*Фиксируем минимальную высоту блока 668px по макету согласно инструкции.*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.decorated-element {
  /*Задаём декоративный элемент REC.*/
  position: absolute;
  top: clamp(
    0.625rem,
    0.0286rem + 2.5445vw,
    1.25rem
  ); /*Подгоняем с помощью PerfectPixel к макету 10px до 20 px
  под ширину экрана от 375px до 768px.*/
  right: 27px; /*Подгоняем с помощью PerfectPixel к макету.*/
  font-family: inherit;
  font-weight: var(--regular-font-weight, 400);
  font-size: var(--text-size, 1.125rem);
  color: var(--accent-color, #ff0070);
}

.decorated-element::after {
  /*Задаём декоративную точку после REC.*/
  content: "";
  position: absolute;
  top: 8px;
  left: 40px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  z-index: 1;
}

.header__theme-menu {
  /*Выравниваем элемент "меню" в области первой строки грида.*/
  grid-row: 1;
  justify-self: end;
  align-self: center;
  padding-block-start: var(
    --theme-menu-padding-top,
    clamp(1.5625rem, -5.2958rem + 29.2621vw, 8.75rem)
  ); /*Подгоняем с помощью PerfectPixel к макету от 25px до 140px
  под ширину экрана от 375px до 768px.*/
}

.header__theme-menu-list {
  /*Задаём элементам "пункт меню" блочное положение с отступом между ними.*/
  display: flex;
  flex-direction: column;
  gap: var(--theme-menu-gap, 0.625rem);
}

.header__theme-menu-button {
  /*Задаём общее оформление элементам "кнопка"*/
  height: 26px; /*Задаём фиксированную высоту согласно макету.*/
  background-color: transparent;
  color: var(--accent-color, #ff0070);
  border: none;
  font-weight: var(--regular-font-weight, 400);
  text-align: center;
  font-size: var(--text-size, 1.125rem);
  line-height: var(--button-line-height, 100%);
  padding: var(--button-padding, 0 0.8125rem);
}

.header__theme-menu-button:focus {
  /*Сбрасываем фокус у кнопки при нажатии мышью.*/
  outline: none;
}

.header__theme-menu-button:focus-visible {
  /*Задаём фокус у кнопки в виде нижней границы при нажатии Tab.*/
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  /*Задаём при наведении границу по всем сторонам кнопки согласно макету.*/
  outline: 1px solid rgb(255 0 112 / 0.4); /*Для стилизации интерактивных 
  эл-тов по инструкции сказано использовать outline вместо border.*/
  cursor: pointer;
}

.header__theme-menu-button_active {
  /*Если кнопка выбрана в тёмной теме, 
  задаем ей границу тёмной темы (применится для кнопок "неон" и "авто").*/
  outline: 1px solid var(--accent-color, #ff0070);
  pointer-events: none;
}

.header__cover-title {
  grid-row: 2;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070); /*Задаём тень согласно макету.*/
  align-self: center;
}

.header__text {
  grid-row: 3;
  block-size: fit-content;
  inline-size: var(
    --header__text-block__inline-size,
    clamp(22.1875rem, 21.6508rem + 2.2901vw, 22.75rem)
  ); /*от 355px до 364px*/
  align-self: center;
  margin-block-end: clamp(
    1.5625rem,
    -5.2958rem + 29.2621vw,
    8.75rem
  ); /*Подгоняем с помощью PerfectPixel к макету от 25px до 140px
  под ширину экрана от 375px до 768px.*/
}

/*Основной контент сайта*/

.main-content {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap, clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem));
}

.section {
  display: grid; /*Задаём грид для секций для последующей удобной адаптации под размеры экрана.*/
  grid-template-columns: 1fr;
  gap: var(--section-gap, 1.25rem);
}

.section__heading {
  font-family: inherit;
  font-weight: var(--bold-font-weight, 700);
  font-size: var(--text-size, 1.125rem);
  line-height: var(--text-line-height, 130%);
  color: var(--accent-color, #ff0070);
}

.section-how__span {
  display: block; /*Делаем span блочным как и h3, чтобы одинаково было в макете.*/
}

.section__card-list {
  display: grid; /*Задаём грид для списка карточек для последующей удобной адаптации под размеры экрана.*/
  grid-template-columns: 1fr;
  gap: var(--section-gap, 1.25rem);
}

.section__card {
  display: flex;
  flex-direction: column;
  gap: var(--section-card-gap, 0.625rem);
}

.section-how__card-heading__title-decor {
  font-weight: var(--regular-font-weight, 400);
}

.section__card-text {
  font-family: inherit;
  font-weight: var(--regular-font-weight, 400);
  font-size: var(--text-size, 1.125rem);
  line-height: var(--text-line-height, 130%);
  color: var(--text-color, #f1b2ce);
}

.card-text__link {
  line-height: var(--link-line-height, 100%);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070); /*Задаём тень согласно макету.*/
  text-decoration: none;
}

.card-text__link:focus {
  /*Сбрасываем фокус у ссылки при нажатии мышью.*/
  outline: none;
}

.card-text__link:focus-visible {
  /*Задаём фокус у ссылки при нажатии Tab.*/
  outline: 1px solid currentColor; /*Наследуем текущий цвет #F1B2CE.*/
}

.card-text__link:hover {
  /*Задаём подчеркивание текста ссылки при наведении согласно макету.*/
  border-block-end: 1px solid currentColor;
  /*Убрано свойство text-decoration, так как через него остается тень у подчеркивания.*/
  text-underline-offset: 2px; /*Задаём отступ от текста.*/
}

.gallary {
  gap: var(--gallary-gap, clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem));
  /*Задаём отступ от 10px до 20px.*/
}

.gallary__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gallary__list-gap, 0.625rem); /*10px.*/
}

.gallery__image {
  display: block; /*Помогло выровнять контент по макету!*/
  object-fit: cover; /*Подгоняем с помощью PerfectPixel к макету.*/
  width: 100%; /*Подстраиваем размеры изображения под родителя, задав резиновую ширину*/
  height: 100%;
}

/*Подвал сайта*/

.footer {
  block-size: 100vh; /*Задаём высоту подвала равной высоте окна браузера согласно инструкции.*/
  min-block-size: var(
    --header-footer__min-block-size,
    41.75rem
  ); /*Фиксируем минимальную высоту блока 668px по макету согласно инструкции.*/
  display: flex; /*Располагаем заголовок по центру футтера.*/
  justify-content: center;
  align-items: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070); /*Задаём тень согласно макету.*/
}

/*Медиавыражение для второго макета.*/

@media (768px <= width < 1024px) {
  .header,
  .footer {
    --header-footer__min-block-size: 64rem;
    min-block-size: var(
      --header-footer__min-block-size,
      64rem
    ); /*Фиксируем минимальную высоту блока 1024px по макету согласно инструкции.*/
  }

  .title-general-styles {
    --h1-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    /*Постепенно меняем шрифт от 120px до 157px.*/
    font-size: var(--h1-size, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  }

  .header__text {
    --header__text-block__inline-size: clamp(
      22.75rem,
      -1.0625rem + 49.6094vw,
      30.6875rem
    );
    inline-size: var(
      --header__text-block__inline-size,
      clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem)
    ); /*от 364px до 491px*/
    justify-self: end;
  }

  .section-why__card-list,
  .section-how__card-list {
    padding-inline-start: 5px; /*Подгоняем под макет с PerfectPixel.*/
  }
}

/*Медиавыражение для третьего макета.*/

@media (width >= 1024px) {
  .header,
  .footer {
    --header-footer__min-block-size: 48rem;
    min-block-size: var(
      --header-footer__min-block-size,
      48rem
    ); /*Фиксируем минимальную высоту блока 768px по макету согласно инструкции.*/
  }

  .title-general-styles {
    --h1-size: 9.8125rem;
    /*Оставляем шрифт 157px.*/
    font-size: var(--h1-size, 9.8125rem);
  }

  .header__text {
    --header__text-block__inline-size: 30.6875rem;
    inline-size: var(--header__text-block__inline-size, 30.6875rem); /*491px*/
    justify-self: end;
    margin-block-end: 5.3125rem; /*Уменьшаем до 85px.*/
  }

  .header__theme-menu {
    /*Перенесём меню наверх по центру.*/
    --theme-menu-padding-top: 1.25rem;
    justify-self: center;
    align-self: start;
    padding-block-start: var(--theme-menu-padding-top, 1.25rem); /*20px*/
  }

  .header__theme-menu-list {
    /*Изменим расположение пунктов меню в строку.*/
    flex-direction: row;
  }

  .section-what__card-list {
    /*Создаём грид-контейнер для карточек по колонкам.*/
    display: grid;
    grid-template-columns: repeat(
      3,
      32%
    ); /*Колонка займёт 32% от ширины родителя.*/
  }
}

/*Общее медиавыражение для второго и третьего макетов.*/

@media (width >= 768px) {
  .header__cover-title {
    /*Смещаем спозиционированный элемент на отступ, 
      установленный у body в 20px для второго и третьего макетов.*/
    position: relative;
    inset-inline-end: var(--page-padding-inline);
  }

  .main-content {
    --main-gap: 5rem;
    gap: var(--main-gap, 5rem); /*Оставляем отступ 80px.*/
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  } /*Меняем одну колонку на три.*/

  .section__heading {
    /*Располагаем заголовки трёх секций одинаково.*/
    grid-column: 1;
  }

  .section__card-list {
    /*Располагаем список карточек первой и третьей секций одинаково.*/
    grid-column: 2 / 4;
  }

  .section-what__card-list {
    /*Переносим список карточек второй секции на вторую строку.*/
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .gallary__heading {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .gallary__list {
    grid-column: 1 / 4;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallary__list-item:nth-child(1) {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .gallary__list-item:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 3;
  }

  .gallary__list-item:nth-child(3) {
    grid-row: 2 / 4;
    grid-column: 1;
  }

  .gallary__list-item:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .gallary__list-item:nth-child(5) {
    grid-row: 3;
    grid-column: 2 / 4;
  }
}
